<main class="app-content">
  <div class="app-title">
    <h1>Painel de controle</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      
        <%= render 'dashboard' %>

    </div>
  </div>
</main>
