<div class="col-md-4 ">
  <div class="card mb-4 shadow-sm">
    <% if animal.foto.attached? %>
      <%= image_tag animal.foto, width: "100%" %>
    <% else %>
      <%= image_tag (image_generator(height: '350', width: '200')) %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= link_to animal.nome, animal %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <td><%= link_to 'Edit', edit_animal_path(animal), class: "btn btn-sm btn-outline-secondary" %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %></td>
        </div>
        <small class="text-muted"><%= distance_of_time_in_words(animal.created_at, Time.now) %></small>
      </div>
    </div>
  </div>
</div>
