<%= form_with(model: @animal, local: true) do |form| %>
  <% if @animal.errors.any? %>
      <% @animal.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <li><%= message %></li>
      </div>
    <% end %>
  <% end %>

  <div class="container">
    <div class="row">

      <div class="col-md-6 ">
        <div class="form-group">
          <%= form.text_field :nome, class: 'form-control', placeholder: 'Nome' %>
        </div>

        <div class="form-group">
          <%= form.number_field :idade, class: 'form-control', placeholder: 'Idade' %>
        </div>

        <div class="form-group">
          <%= form.collection_select :sexo,
          Animal.sexos.keys.map{|s| [s, s.capitalize]},
          :first, :last, {include_blank: 'Sexo'},
          {class: 'form-control'}%>
        </div>

        <div class="form-group">
        <%= form.collection_select :status,
            Animal.statuses.keys.map{|s| [s, s.capitalize]},
            :first, :last, {include_blank: "Selecione o status"},
            {class: 'form-control'} %>
        </div>



        <div class="form-group">
          <%= form.text_field :raca, class: 'form-control', placeholder: 'Raça' %>
        </div>

        <label class="btn btn-primary">
            Adicionar foto <%= form.file_field :foto, class: 'form-control', style: 'display:none;' %>
        </label>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.text_field :doenca, class: 'form-control', placeholder: 'Doença' %>
        </div>

        <div class="form-group">
          <%= form.text_field :medicamento, class: 'form-control', placeholder: 'Medicamento' %>
        </div>

        <div class="form-group">
          <%= form.label :horario_medicamento_incio %>
          <%= form.time_select :horario_medicamento_incio, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :horario_medicamento_fim %>
          <%= form.time_select :horario_medicamento_fim, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.collection_select :dono_id, Dono.all, :id, :nome,
          {include_blank: "Selecione o dono"},
          {class: "form-control"}%>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= form.submit 'Cadastrar', class: 'btn btn-primary' %>
  </div>
<% end %>
