<main class="app-content">
  <div class="app-title">
    <h1>Editing Animal</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">

    <%= render 'form', animal: @animal %>

    <%= link_to 'Show', @animal %> |
    <%= link_to 'Back', animais_path %>
      </div>
    </div>
  </div>
  
</main>
