<main class="app-content">
  <div class="app-title">
    <h1>Animais</h1>

    <%= render 'shared/filtro' %>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <p id="notice"><%= notice %></p>
        <div class="album text-muted">
          <div class="container">
            <div class="row">
              <%= render partial: 'animal', collection: @animais %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
