<main class="app-content">
  <div class="app-title">
    <h1> New Animal </h1>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">

          <%= render 'form', animal: @animal %>

          <%= link_to 'Back', animais_path %>
        </div>
      </div>
    </div>
</main>
