<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <p id="notice"><%= notice %></p>

          <div class="container animal-container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-8 col-xl-7">
                <% if @animal.foto.attached? %>
                  <%= image_tag @animal.foto, width: "100%" %>
                <% else %>
                  <%= image_tag (image_generator(height: '600', width: '400')) %>
                <% end %>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-5">
                <p>
                  <strong>Nome:</strong>
                  <%= @animal.nome %>
                </p>

                <p>
                  <strong>Idade:</strong>
                  <%= @animal.idade %>
                </p>

                <p>
                  <strong>Sexo:</strong>
                  <%= @animal.sexo %>
                </p>

                <p>
                  <strong>Status:</strong>
                  <%= @animal.status %>
                </p>

                <p>
                  <strong>Doenca:</strong>
                  <%= @animal.doenca %>
                </p>

                <p>
                  <strong>Medicamento:</strong>
                  <%= @animal.medicamento %>
                </p>

                <p>
                  <strong>Horario medicamento incio:</strong>
                  <%= @animal.horario_medicamento_incio %>
                </p>

                <p>
                  <strong>Horario medicamento fim:</strong>
                  <%= @animal.horario_medicamento_fim %>
                </p>

                <p>
                  <strong>Dono:</strong>
                  <%= link_to @animal.dono.nome, dono_path(@animal.dono) %>
                </p>
              </div>
            </div>
          </div>


        <%= link_to 'Edit', edit_animal_path(@animal) %> |
        <%= link_to 'Back', animais_path %> |
        <%= link_to 'Adicionar animal', new_animal_path %>

      </div>
    </div>
  </div>
</main>
