<div class="login">
  <div class="card">
    <div class="card-body">

      <h1 class="text-center">
        Control Vet
      </h1>
      
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "New password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Confirmation new password" %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>

        <div class="auth-links">
          <%= render "devise/shared/links" %>
        </div>

    </div>
  </div>
</div>
