  <tbody id="table">
    <tr>
    <th><%= link_to dono.nome, dono %></th>
    <th><%= dono.telefone %></th>
    <th><%= dono.email %></th>

    <th class="text-right">


      <%= link_to edit_dono_path(dono), class: 'btn btn-primary' do %>
        <%= fa_icon 'edit', style: "font-size:23px" %>
      <% end %>

      <%= link_to dono, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <%= fa_icon 'trash', style: "font-size:23px" %>
      <% end %>
    </th>


  </tr>
  </tbody>
