<%= form_with(model: dono, local: true) do |form| %>
<% if @dono.errors.any? %>
    <% @dono.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
    <% end %>
<% end %>
<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <div class="form-group">
        <%= form.text_field :nome, class: 'form-control', placeholder: "Nome" %>
      </div>

      <div class="form-group">
        <%= form.number_field :idade, class: 'form-control', placeholder: "Idade" %>
      </div>


      <div class="form-group">
        <%= form.text_field :telefone, class: 'form-control', placeholder: "Telefone para contato" %>
      </div>

      <div class="form-group">
        <%= form.text_field :email, class: 'form-control', placeholder: "Email" %>
      </div>
    </div>




    <div class="col-md-6">
      <div class="form-group">
        <%= form.text_field :cep, class: 'form-control', placeholder: "Cep" %>
      </div>


      <div class="form-group">
        <%= form.text_field :rua, class: 'form-control', placeholder: "Rua" %>
      </div>

      <div class="form-group">
        <%= form.text_field :bairro, class: 'form-control', placeholder: "Bairro" %>
      </div>

      <div class="form-group">
        <%= form.text_field :complemento, class: 'form-control', placeholder: "Complemento" %>
      </div>

      <div class="form-group">
        <%= form.number_field :numero_casa, class: 'form-control', placeholder: "Numero da casa"%>
      </div>
    </div>

  </div>
</div>

  <div class="actions">
    <%= form.submit "Cadastrar", class: 'btn btn-primary' %>
  </div>
<% end %>
