<main class="app-content">
  <div class="app-title">
    <h1>Editing Dono</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        
        <%= render 'form', dono: @dono %>

        <%= link_to 'Show', @dono %> |
        <%= link_to 'Back', donos_path %>

      </div>
    </div>
  </div>
</main>
