<main class="app-content">
  <div class="app-title">
    <h1>Donos</h1>

    <div class="float-right">
      <input class="app-search__input" id="myInput" type="text" placeholder="Digite para pesqusiar...">
    </div>
  </div>

  <!--fazer search para dono -->
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <p id="notice"><%= notice %></p>



        <table class="table table-hover">
          <thead>
            <tr class="text-left">
              <th><h5>Nome</h5></th>
              <th><h5>Telefone</h5></th>
              <th><h5>Email</h5></th>
              <th></th>
            </tr>
          </thead>

          <%=  render partial: 'dono', collection: @donos %>
        </table>

      </div>
    </div>
  </div>

</main>
