<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <p id="notice"><%= notice %></p>
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Nome:</strong>
              <%= @dono.nome %>
            </p>

            <p>
              <strong>Idade:</strong>
              <%= @dono.idade %>
            </p>

            <p>
              <strong>Telefone:</strong>
              <%= @dono.telefone %>
            </p>
            <p>
              <strong>Email:</strong>
              <%= @dono.email %>
            </p>
          </div>

          <div class="col-md-6">
            <p>
              <strong>Rua:</strong>
              <%= @dono.rua %>
            </p>

            <p>
              <strong>Bairro:</strong>
              <%= @dono.bairro %>
            </p>

            <p>
              <strong>Numero casa:</strong>
              <%= @dono.numero_casa %>
            </p>

            <p>
              <strong>Cep:</strong>
              <%= @dono.cep %>
            </p>

            <p>
              <strong>Complemento:</strong>
              <%= @dono.complemento %>
            </p>

          </div>

          <p>
            <strong>Animal:</strong>
            <% @dono.animais.each do |animal| %>
              <%= link_to animal.nome, animal %>
            <% end %>
          </p>
        </div>
        <%= link_to 'Edit', edit_dono_path(@dono) %> |
        <%= link_to 'Back', donos_path %> |
        <%= link_to 'Adicionar dono', new_dono_path %>
      </div>
    </div>
  </div>
</main>
