<div class="login">
  <div class="card">
    <div class="card-body">

      <h1 class="text-center">
        Control Vet
      </h1>

      <br>

      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <br>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
        </div>
      <% end %>

        <div class="auth-links">
          <%= render "devise/shared/links" %>
        </div>

    </div>
  </div>
</div>
