<%# terminar as colunas do filtro
%>


<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.collection_select :status_eq,
        Animal.statuses.keys.map{|s| [s, s.capitalize]},
        :first, :last, {include_blank: "Todos os status"},
        {class: 'form-control'} %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.collection_select :dono_id_eq, Dono.all, :id, :nome,
        {include_blank: "Todos os donos"},
        {class: "form-control"}%>
      </div>

      <div class="text-right">
        <%= button_tag class: 'btn btn-outline-secondary' do %>
        <span aria-hidden="true">
            <i><%= fa_icon 'search' %></i>
        </span> Filtrar
        <% end %>
      </div>
    </div>

  </div>
<% end %>
