<header class="app-header">
    <a class="app-header__logo" href="#">
      <b>
        Control
      </b>
        Vet
    </a>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>

    <!-- Navbar Right Menu-->

    <ul class="app-nav">
      <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
        <ul class="dropdown-menu settings-menu dropdown-menu-right">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <li class="dropdown-item"><i class="app-menu__icon"><%= fa_icon 'sign-out fa-lg' %></i> Logout</li>
          <% end %>
        </ul>
      </li>
    </ul>



</header>
