<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    "//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", media: "all", "data-turbolinks-track": "false" %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
  <!-- end css -->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', media: "all" ,'data-turbolinks-track': 'false' %>

  </head>

  <body>

    <div class="app sidebar-mini rtl">
      <%= render "shared/navbar" %>
      <%= render "shared/sidebar" %>
      <%= yield %>
    </div>

  </body>


</html>
